# Ignore everything
/*

# Include our configs and CT scripts
!.gitignore
!/config/
!/config/**
!/scripts/
!/scripts/**
!/resources/
!/resources/**

# Ignore spammy stuff
/config/jei/worldSettings.cfg
/config/InvTweaks.cfg
/config/splash.properties
